.example-spacer{
    flex: 1 1 auto;
}
.main-body{
    margin: 0 auto;
    max-width:1300px;
    padding-top:20px;
    mat-form-field{
        width:100%;
    }
}
.action-body{
    display: flex;
    flex-direction: column;
}